@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
}

/* Custom scrollbar styling */
@layer utilities {
  .scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 0.5;
    @apply bg-blue-200 bg-opacity-50;
  }

  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 0.5;
    @apply bg-blue-500 hover:bg-blue-700;
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    @apply rounded-full;
  }
}
